POSTGRES_DB=auth_simple_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgresql+psycopg://postgres:postgres@postgres:5432/auth_simple_db
JWT_SECRET_KEY=3870dfeca970568314210f0cdea7e0da80bea3ceda978858fe1c0c516b30adde0228aac1bdf8565b96df3542948c2a8e6f473703a48d51a15f607a7988f8ad4e
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
BACKEND_CORS_ORIGINS=http://localhost:5173
VITE_API_BASE_URL=http://localhost:8000/api/v1
